page-home {
    // .bg{
    //     background-image: url('../../assets/868fd588c3cf00814ac651181ee3bead.jpg');
    //     background-attachment: fixed;
    //     background-size: cover;
        
    // }
    .logos{
        display: flex;
        padding: 1rem;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 25vh;
        h1{
            color: $themecolor3;
            margin-top:-1.5rem;
            font-size: 5rem;
        }
        img{
            height: 12rem;
            width: 12rem;
        }
    }

    .text{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 30vh;
        justify-content: center;
        align-items: center;
        color: $themecolor2;
        img{
            height: 5rem;
            width: 5rem;
        }
        h4{
            text-shadow: 0 .2rem .8rem rgba($themecolor2,.5);
        }
    }
    .menu{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 39vh;
        background: $themecolor3;
      

       .cardcont1{
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
           height: 39vh;
           color: $themecolor2;
           width: 50%;
           background: $themecolor1;
           h1{
            text-shadow: 0 .2rem .8rem rgba(black,.5);
        }
            :hover{
                box-shadow: 0 2rem 3rem rgba($themecolor2,.5) 
            }
           img{
            border-radius: 10rem;
            height: 15rem;
            width: 15rem;
            box-shadow: 0 .2rem .8rem rgba(black,.5);
        }
        
       }
       
       .cardcont2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 39vh;
        color: $themecolor1;
        width: 50%;
        background: $themecolor2;
        h1{
            text-shadow: 0 .3rem 1rem rgba(black,.5);
        }
        img{
            border-radius: 10rem;
            height: 15rem;
            // background: rgb(76, 215, 233);

            // padding: 1rem;
            width: 15rem;
            box-shadow: 0 .2rem .8rem rgba(black,.5);
        }
       }
    
    }
}
